/* thanks to https://palettes.shecodes.io */

:root {
  --color-white: #edf7fa;
  --color-green: #5ca1b5;
  --color-blue: #5f6caf;
  --color-orange: #ffb677;
  --color-red: #ff8364;
  --color-black: #2c3e50;
}
