@import url(color-palette.css);
@import url(modifiers.css);

body {
  margin: 0;
  background-color: var(--color-black);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 5rem;
}
