button {
  color: var(--color-black);
  font-weight: bolder;
  border: solid 1px var(--color-black);
  background-color: var(--color-white);
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
}

button.active {
  background-color: var(--color-orange);
}

button:focus {
  outline: solid 2px var(--color-orange);
  outline-offset: -2px;
}
