/* thanks to https://palettes.shecodes.io */

:root {
  --color-white: #edf7fa;
  --color-green: #5ca1b5;
  --color-blue: #5f6caf;
  --color-orange: #ffa658;
  --color-red: #ff6038;
  --color-black: #1c2630;
}
