dev {
  text-align: left;
  padding: 2rem;
  color: var(--color-red);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px) brightness(0.1);
}

dev > code {
  color: var(--color-green);
}
