body {
  margin: 0;
  background-color: var(--color-black);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 5rem;
}

p {
  margin: 1rem;
}

form {
  display: inline-grid;
  gap: 1rem;
  margin: 1rem;
}

label {
  display: inline-flex;
  gap: 1rem;
}
