.figure {
  background-color: var(--color-black);
  margin: 0;
}

.figure figcaption {
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  .figure {
    padding-top: min(calc(50vw - 300px), 2rem);
    padding-bottom: min(calc(50vw - 300px), 2rem);
  }
}
