@import url(color-palette.css);

body {
  margin: 0;
  background-color: var(--color-white);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 5rem;
}

input {
  color: var(--color-black);
  border: solid 1px var(--color-black);
}

.hidden {
  display: none;
}
